*{
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(19, 19, 19);
}

#root {
  width: 100%;
  min-height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

nav>img {
  /* filter: invert(100%); */
  width: 12rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 60vh;
}

.guess-box {
  min-width: 300px;
  aspect-ratio: 3/4;
  /* min-height: 360px; */
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* border: 1px solid rgb(62, 62, 62); */
  /* align-items:; */
  /* justify-content: space-around;
  border-radius: 5px;
  display: flex;
  flex-direction: column; */
}

.guess-row {
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(62, 62, 62); */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.guess-tile {
  /* /* min-width: 50px; */
  /* min-height: 50px; */

  border: 2px solid #3B3A3D; 
  font-family: "Libre Franklin", sans-serif;
  font-weight:900;
  font-style: normal;
  color: #FFFFFF;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



.keyboard-row {
  display: flex;
  justify-content: center;
  
  margin-bottom: 0.4rem;
}

.keyboard-key {
  font-family: "Libre Franklin",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 .2rem;
  color: #FFFFFF;
  padding: .5rem;
  font-size: 1.2rem;
  transition: transform 0.1s ease;
  text-transform: capitalize;
  height: 3.8rem;
  min-width: 3rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  background-color: #818285;
}

.backspace {
  min-width: 4.3rem;
}

.enter {
  font-size: 1rem;
}

.keyboard-key:hover {
  background-color: #6d6e71;
}

.keyboard-key.correct-pos:hover  {
  background-color: #406d3d;
}

.keyboard-key.inword:hover {
  background-color: #ac9a4b;
}

.keyboard-key.not-inword:hover {
  background-color: #2b2b2d;
}

.keyboard-key:active {
    transform: scale(0.95); /* Shrinks the button to 95% of its original size */
}

.keyboard-key:focus-visible {
  outline: none;
}


@media (max-width: 670px) and (min-width:460px) {
  .keyboard-key {
    height: 3rem;
    min-width: 2rem;
    font-size: .9rem;
  }
  .backspace {
    min-width: 3.8rem;
  }
}
  
@media (max-width: 460px) {
  .keyboard-key {
    height: 2.5rem;
    min-width: 1.8rem;
    font-size: .6rem;
  }
  .backspace {
    min-width: 2rem;
  }
}

.correct-pos {
  background-color: #528D4F;
  border-color: #528D4F;
}

.inword {
  background-color: #C9B558;
  border-color: #C9B558;
}

.not-inword {
  background-color: #3B3A3D;
}

.correct-row>.correct-pos {
  animation: waveAnimation .5s ease-in-out;
}

@keyframes waveAnimation {
  0%, 100% {
    border: 1px solid #3B3A3D;
    transform: translateY(0); /* Original position */
  }
  50% {
    transform: translateY(-20px); /* Move up */
  }
}


.correct-row>.correct-pos:nth-child(1) {
  animation-delay: 0s;
}
.correct-row>.correct-pos:nth-child(2) {
  animation-delay: 0.2s;

}
.correct-row>.correct-pos:nth-child(3) {
  animation-delay: 0.4s;
}
.correct-row>.correct-pos:nth-child(4) {
  animation-delay: 0.6s;
}
.correct-row>.correct-pos:nth-child(5) {
  animation-delay: 0.8s;
}